.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  /*background-color: #0000CD;*/
  border: 5px solid #00FFFF;
  height : 500px;
}

.grid-item {
/*  background-color: #000000;
  color: #FFFFFF;*/
  border : 5px solid #FFFFFF;
  text-align: center;
  margin: 2px;
}

.map {
}

.toggleSwitch {
  width: 6rem;
  height: 3rem;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 50%;
  left: .2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
}

/* 체크박스가 체크되면 변경 이벤트 */
.toggleSwitch.active {
  background: #f03d3d;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 2.8rem);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}
